/* AdminDashboardStyles.css */

.admin-dashboard-card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff; /* Set your preferred background color */
    padding: 20px;
  }
  
  .admin-dashboard-card h3 {
    color: #333; /* Set your preferred text color */
  }
  
  .admin-dashboard-card h5 {
    color: #555; /* Set your preferred text color */
  }
  