.products {
    background-color: #c1e2ff;
}

.filters {
    background-color: whitesmoke;
}

.card-img-top {
    margin: auto;
    padding: 1.5rem;
    max-height: 10rem;
}

.card-body {
    background-color: #0258a2;
    color: white;
}

.title-price {
    font-weight: bolder;
    display: flex;
    justify-content: space-between;
}

.card-text {
    margin: 0;
    margin-bottom: 1rem;
}

.btn {
    border: 1px solid #c1e2ff;
    color: #c1e2ff;
}

.btn:hover {
    border: 1px solid #c1e2ff;
}

.btns {
    display: flex;
    justify-content: space-between;
}